<h1>Map View</h1>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<%= link_to image_tag("130905_Link.png", alt: "Rails") %>
			<br><br><br><br>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>
							Link_id
						</th>
						<th>
							Name
						</th>
						<th>
							Comment
						</th>
						<th>
							Function
						</th>
					</tr>
				</thead>
				<tbody>
					<% @links.each do |link| %>
    					<% link.user.each do |obj| %>
    						<tr>
    							<td><%= link.id %></td>
        						<td><b><%= obj.name %></b></td>
        						<td><%= obj.comment %></td>
        						<td><%= link_to 'Show', link %></td>
    							<td><%= link_to 'Edit', edit_user_path(link) %></td>
    							<td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        					</tr>
    					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>



<br />

<%= link_to 'New Link', new_link_path %>
